/* features box home page */

.features-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  font-family: DMSans-Regular;
}

.features-box > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  text-align: center;
}
