.features-mob {
  width: 100%;
}

.features-tab {
  display: none;
}
.features-desk {
  display: none;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.story {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  background-color: black;
  padding: 72px 28px 0px 29px;
  gap: 16px;
}

.story h1 {
  font-family: DMSans-Bold;
  line-height: 40px;
  letter-spacing: 3.33333px;
  color: #ffffff;
}
.story p {
  font-family: DMSans-Regular;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
}
.line {
  position: absolute;
  width: 128px;
  height: 6px;
  top: 0;
  left: 29px;
  background: linear-gradient(
    2.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
