.main {
    width: 100%;
}

.grid {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 75px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

nav li {
    margin: 0 37px;
    cursor: pointer;
    font-family: DMSans-Bold;
}

nav li a {
    color: black;
    letter-spacing: 2px;
}

nav li a:hover {
    opacity: 50%;
}

header button {
    color: white;
    background-color: black;
    height: 40px;
    width: 158px;
    font-family: DMSans-Bold;
    letter-spacing: 2px;
}

header button:hover {
    color: black;
    background-color: #DFDFDF
}