* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.main {
  width: 100%;
}

.grid {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 75px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

nav li {
  margin: 0 37px;
  cursor: pointer;
  font-family: DMSans-Bold;
}

nav li a {
  color: black;
  letter-spacing: 2px;
}

nav li a:hover {
  opacity: 50%;
}

header button {
  color: white;
  background-color: black;
  height: 40px;
  width: 158px;
  font-family: DMSans-Bold;
  letter-spacing: 2px;
}

header button:hover {
  color: black;
  background-color: #dfdfdf;
}
.features-tab {
  display: none;
}
.features-desk {
  display: none;
}
.stories-tab {
  display: none;
}
.stories-desk {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 72px 29px 72px 28px;
  width: 100%;
  height: auto;
  background: #000000;
}

.hr {
  position: absolute;
  top: 0;
  left: 50px;
  width: 128px;
  height: 6px;
  background: linear-gradient(
    2.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}

.box-visual {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.features-mob {
  width: 100%;
}

.white-color {
  color: #ffffff;
}
.black-color {
  color: #000000;
}

h1 {
  font-family: DMSans-Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
}
.text {
  font-family: DMSans-Regular;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  width: 275px;
  opacity: 0.6;
  margin-bottom: 3%;
}

.invite {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-family: DMSans-Bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}
.are {
  max-width: 175px;
}

.arrow-white {
  filter: brightness(0) invert(1);
}
/*///////////*/
.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 72px 24px 72px 33px;
  width: 100%;
  height: auto;
  background: #ffffff;
}

/*////////*/
.img-box {
  width: 100%;
}

.img-first {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.img-first:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.27%,
    rgba(0, 0, 0, 0.661222) 100%
  );
}

h3 {
  position: absolute;
  font-family: DMSans-Bold;
  font-size: 18px;
  line-height: 25px;
  z-index: 1;
  left: 33px;
  bottom: 125px;
}
.name {
  font-family: DMSans-Medium;
  font-size: 13px;
  line-height: 17px;
  position: absolute;
  z-index: 1;
  left: 33px;
  bottom: 105px;
}

hr {
  position: absolute;
  width: 84%;
  height: 1px;
  background: #ffffff;
  left: 33px;
  bottom: 88px;
}
.arrow-move {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 84%;
  left: 33px;
  bottom: 50px;
  z-index: 1;
}

/*/////////////*/
.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 56px;
  background: #f2f2f2;
  width: 100%;
}

.responsiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 310px;
}
.responsiv-text {
  margin-top: 32px;
  font-family: DMSans-Bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.center-text {
  text-align: center;
  width: 310px;
}
.story-line {
  width: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////
                                 @media (min-width: 768px) 
///////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  .features-mob {
    display: none;
  }
  .features-tab {
    display: block;
    position: relative;
    right: 0;
  }
  .stories-tab {
    display: block;
  }
  .box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .design {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;
    padding: 0;
  }
  .box-vision {
    padding-right: 5%;
    gap: 21px;
  }
  .hr {
    left: 0;
    width: 6px;
    height: 304px;
    position: relative;
  }
  .text {
    width: 400px;
  }
  .invite {
    width: 52%;
  }
  .designed {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 54px;
  }

  .img-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .img-first {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: auto;
    height: auto;

    flex-wrap: wrap;
  }
  h3 {
    bottom: 100px;
  }
  .name {
    bottom: 80px;
  }
  hr {
    bottom: 70px;
  }
  .arrow-move {
    bottom: 45px;
  }
  .text {
    width: 387px;
  }
  .center-text {
    width: 457px;
  }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////
                                 @media (min-width: 1440px) 
///////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1440px) {
  .features-tab {
    display: none;
  }
  .features-desk {
    display: block;
  }
  .stories-tab {
    display: none;
  }
  .stories-desk {
    display: block;
  }
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .img-box {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  }
  .media {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .center-text {
    text-align: center;
    width: 350px;
  }
}
